<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Reset Password Successful</title>
</head>


<style>

@media(min-width:481px) and (max-width:650px){

.zenwork { width: 95% !important; margin: 0 auto !important;}

}

@media(max-width:480px){

.zenwork { width: 90% !important;}
.mobile-logo{ width:90% !important; height: auto !important;}

}


</style>

<body style="font-family: Arial,Helvetica Neue,Helvetica,sans-serif; ">


<table width="100%">
  <tr>
    <table width="650" style="display: block; margin: 0 auto;padding:30px 0;" class="zenwork zenwork1">

      <tr>
        <td style="text-align: center; padding:0 0 20px;">
          <a href="#"><img src="{{logo_url}}" width="330" height="41"
              alt="img" class="mobile-logo"></a>
        </td>
      </tr>

      <tr>
        <td style="padding: 0 0 15px; font-size: 20px;">Hi <b style="font-size: 18px; font-weight: 600; display: inline-block">{{name}}</b>,</td>

      </tr>


      <tr>

        <td style="padding: 0 0 15px; font-size: 17px;">Your Zenwork HR password was reset successfully.</td>
      </tr>

      <!-- <tr >
        <td style="padding: 0 0 15px; font-size: 18px; display: block;">Email : </td>
      </tr>

      <tr >
          <td style="padding: 0 0 15px; font-size: 18px;display: block;">Password : </td>
        </tr> -->

        {{!-- <tr >
            <td style="padding: 0 0 15px; font-size:19px; color: #418246; font-weight: bold;">
              <a href="{{reset_password_link}}" target="_blank" style="color: #fff;text-decoration: none; background:#418246; padding:8px 20px; border-radius:20px;
              cursor: pointer; font-size: 18px; margin: 20px 0 0; display: inline-block;">Reset Password</a></td>
          </tr> --}}

          <tr>
            <td style="padding:30px 0 0; font-size: 18px;line-height:30px;">
                Cheers! <br>
               <b style="font-weight: bold;"> Zenwork HR Support Team</b>
            </td>
          </tr>

    </table>
  </tr>


</table>

</body>

</html>