<!DOCTYPE html>
<html>
    <head>
      <title>
          ZenworkHR - Contact us 
      </title>  
    </head>
    <body>
        <p> 
        Details given: 
        </p>
        <h2> 
        Message:
        </h2> 
        <p> 
        {{message}}
        </p>
        <br> 
        <b>Email: </b> {{email}}  <br> 
        <b>Phone Number: </b> {{phNo}}  <br>
        <b>Contact Name: </b> {{contactName}}  <br>
        <b>Company Name: </b> {{companyName}}  <br>
        <b>Company Size: </b> {{companySize}}  <br>
    </body>
</html>