<!DOCTYPE html>
<html>
    <head>
      <title>
          ZenworkHR - Test Approval reminder
      </title>  
    </head>
    <body>
        <h2> 
        [Client Logo] (centered)
        </h2> 
        <p> 
        
Hi <b>{{userId.personal.name.firstName}}  {{userId.personal.name.lastName}}</b>:
<br/>
      Our system indicates that you have not approved your timesheet for pay cycle [{{pay_cycle}}, {{pay_cycle_start}} - {{pay_cycle_end}}]. 
 It is important that you approve your timesheet regularly to ensure that you are paid accurately and on time. Please update the system and approve your timesheet.  
 If you think you have received this message in error, please contact  {{job.HR_Contact.personal.name.firstName}} {{job.HR_Contact.personal.name.lastName}} for assistance.
<br/>
Thank you,
<br>
<b>{{userId.job.HR_Contact.personal.name.firstName}} {{userId.job.HR_Contact.personal.name.lastName}}</b>
        </p>
        <br> 
    </body>
</html>