<div id="invoice">
    <div style="width:100%;  padding:30px 50px 0 50px; background: #fff;border-bottom:1px solid gray;">
      <div style="padding-bottom: 20px;">
        <span style="float: left">Invoice</span>
        <span style="float: right;cursor:pointer">
          <span class="menu"></span>
        </span>
        <div class="clearfix"></div>
      </div>
    </div>
    <div>
      <div style="width:100%;padding:45px 50px 50px 50px; background:#fff;">
        <div style="width: 20%; float:left">
          <ul style="list-style-type: none;">
            <li style="line-height: 23px;">
              <b>Billing Company Contact</b>
            </li>
            <li style="color: #439348;line-height: 23px;">{{clientId.name}}</li>
            <li style="line-height: 23px;">Client Type:
              <span style="color:#439348;">{{clientId.type}}</span>
            </li>
            <li style="line-height: 23px;">Billing Type:
              <span style="color:#439348;">Wholesale Client</span>
            </li>
            <li style="line-height: 23px;">{{clientId.email}}</li>
            <li style="line-height: 23px;">
              {{clientId.primaryContact.phone}}&nbsp;Ext.{{clientId.primaryContact.extention}}</li>
          </ul>
        </div>
        <div style="width: 30%; float:left">
          <ul style="list-style-type: none;">
            <li style="line-height: 23px;">
              <b>Billing Company Address</b>
            </li>
            <li style="line-height: 23px;">{{clientId.billingAddress.address1}}</li>
            <li style="line-height: 23px;">{{clientId.billingAddress.city}}</li>
            <li style="line-height: 23px;">{{clientId.billingAddress.state}}
              {{clientId.billingAddress.zipcode}}
            </li>
            <li style="line-height: 23px;">{{clientId.billingAddress.country}}</li>
          </ul>
        </div>
        <div style="width: 16%; float:right">
          <ul style="list-style-type: none;">
            <li style="line-height: 23px;">
              <b style="color: #439348">Invoice Details</b>
            </li>
            <li style="line-height: 23px;">Client ID:xxxxxxx123</li>
            <li style="line-height: 23px;">Billing ID:xxxxxxxx789</li>
            <li style="line-height: 23px;">Invoice Number: xxxxxxxxx12</li>
          </ul>
        </div>
        <div style="clear:both;"></div>
      </div>
    </div>
    <div style="background:#fff;padding: 0 0 60px 0;">
      <div style="background: #efbf32;padding: 15px 25px;margin: 0px 50px;">
        <span style="float: left;">Billing Summary</span>
        <span style="float: right;">Invoice Date:{{createdAt}}</span>
        <div style="clear:both"></div>
      </div>
      <div>
        <ul
          style="list-style-type: none; border-bottom:1px solid gray;margin: 0 50px;padding: 0 50px 15px 25px; background: #f8f8f8;">
          <li style="line-height: 23px; padding: 20px 0 0 0;">Package Start Date
            <span style="color:#439348;">{{package.startDate}}</span>
          </li>
          <li style="line-height: 23px;">Package End Date
            <span style="color:#439348;">{{package.endDate}}
            </span>
          </li>
          <li style="line-height: 23px;">Payment Type:
            <span style="color:#439348;">credit card</span>
          </li>
          <li style="line-height: 23px;">Status:{{paymentStatus}}</li>
        </ul>
      </div>
      <div style=" border-bottom: 1px solid gray;  background: #f8f8f8;margin: 0 50px;padding: 0 15px 15px 25px;">
        <ul style="width:50%; float:left;list-style-type: none;">
          <li style="line-height: 23px;color:#439348; padding: 20px 0 0 0;">package</li>
          <li style="line-height: 23px; ">{{package.id.name}}</li>

          <li style="line-height: 23px;">Base Price</li>
          <li style="line-height: 23px;padding: 10px 0 0 0">Number of Employees-
            <span style="color:#439348;">{{clientId.employeCount}}</span>
          </li>
          <li style="line-height: 23px;">Total Employee Cost</li>
        </ul>
        <ul style="width:5%; float:right;list-style-type: none;">
          <li style="line-height: 23px;padding: 20px 0 0 0;">&nbsp;</li>
          <li style="line-height: 23px; color: #439348;text-align: right;">${{package.id.price}}</li>
          <li style="line-height: 23px;padding: 10px 0 0 0 ">&nbsp;</li>
          <li style="line-height: 23px; color: #439348;text-align: right;">$ {{total_employee_cost}}
          </li>
        </ul>
        <div style="clear: both"></div>
      </div>
      <div 
        style=" border-bottom: 1px solid gray;  background: #f8f8f8;margin: 0 50px;padding: 0 15px 15px 25px;">
        {{#each adons}}
        <ul style="width:50%; float:left;list-style-type: none;">
          <li style="line-height: 23px;color:#439348; padding: 20px 0 0 0;">
            <u>Add-on</u>
          </li>
          <li style="line-height: 23px; ">{{id.name}}</li>

        </ul>
        <ul style="width:5%; float:right;list-style-type: none;">
          <li style="line-height: 23px;padding: 20px 0 0 0;">&nbsp;</li>
          <li style="line-height: 23px; color: #439348;text-align: right;">$ {{price}}</li>
        </ul>
        <div style="clear: both"></div>
        {{/each}}
      </div>
      <div style="background: #f8f8f8;margin: 0 50px;padding: 10px 15px 15px 25px;">
        <ul style="width:50%; float:left;list-style-type: none;">
          <li style="line-height: 23px; ">Total price</li>
          <li style="line-height: 23px;">Discount</li>
          <li style="line-height: 23px;">Tax Rate @ {{tax_rate}}%</li>
        </ul>
        <ul style="width:5%; float:right;list-style-type: none;">
          <li style="line-height: 23px; color: #439348;text-align: right;">$ {{totalPrice}}</li>
          <li style="line-height: 23px; color: #439348;text-align: right;">{{discount}}%</li>
          <li style="line-height: 23px; color: #439348;text-align: right;">$ {{tax_amount}}
          </li>
        </ul>
        <div style="clear: both"></div>
      </div>
      <div style="background:#fff">
        <div style="background: #edf7fe;padding:15px 15px 15px 25px;margin: 0px 50px;">
          <span style="float: left;color: #439348">
            <b>Grand Total</b>
          </span>
          <span style="float: right;color:#439348; text-align: right;">
            <b>$ {{grand_total}}
            </b>
          </span>
          <div style="clear:both"></div>
        </div>
      </div>
      
    </div>
  </div>